@import "tailwindcss";
@import "./variables.css";
@import "./assets/fonts/fuente_global.css";

@keyframes carousel {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.animate-carousel {
    animation: carousel 20s linear infinite;
}

html {
    scroll-behavior: smooth;
}